<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZLbC6l9RlVqtWinW8yzfpD5WX6vCaAQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>89249602339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jas.want.libraryManagement</string>
	<key>PROJECT_ID</key>
	<string>flutter-library-management-jas</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-library-management-jas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89249602339:ios:6ebea295c30d5565524a96</string>
</dict>
</plist>